body {
    font-family: 'Crimson Text', serif;
}

/**************************************
*      Nav Bar Adjustments Start      *
**************************************/
.navbar {
margin: 0 auto;
}

.header-text {
    margin: 0 auto;
}
/**************************************
*     Nav Bar Adjustments End         *
**************************************/

/**************************************
*    Jumbotron Adjustments Start      *
**************************************/

.jumbotron {
    background-image: url("../imgs/jumbotron-background.jpg");
    background-size: cover;
    background-position: center;
    height: 1024px;
    padding-top: 400px;
}

/**************************************
*    Jumbotron Adjustments End        *
**************************************/

/**************************************
*       About Me Section Start        *
**************************************/

.page-header {
    text-align: center;
    height: 100px;
    padding: 20px;
    margin-top: 55px;
    margin-bottom: 50px;
}

.aboutme-container {
    height: 2000px;
}

.aboutme-box {
    margin: 0 auto;
    max-width: 960px;
}

.panel-color {
    background-color: #8b9aef;
}

#pabout {
    color: #777777;
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    text-indent: 20px;
    line-height: 150%;
}

.row {
    margin: 20px;
}

/**************************************
*       About Me Section End          *
**************************************/

/**************************************
*       About Me Section Start        *
**************************************/

.thumbnail {
    border-color: #8b9aef;
}

.btn-color {
    color: white;
    background-color: #8b9aef;
}

h3 {
    color: white;
    background-color: #8b9aef;
    width: 100%;
}


/**************************************
*       Portfolio Section End         *
**************************************/

/**************************************
*       Contact Section Start         *
**************************************/

.form-group {
    text-align: center;
}

/**************************************
*       Contact Section End           *
**************************************/



